.Hangman{

  display: flex;

  justify-content: center;
  align-items: center;
   flex-direction: column;

}
.Hangman h1{
  border-bottom: 5px solid tomato;
  border-radius: 4px;
}
.result-page{
  text-align: center;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
   width: 480px;
   height: 350px;
   border: 2px solid black;
    margin: 0;
   background: PapayaWhip;
   position: absolute;
   top: 45%;
   left: 50%;
   margin-right: -50%;
   transform: translate(-50%, -50%);
  font-size: 1.2em;
}
.result-page button{
  width: 6em;
  height: 3em;
  font-size:1em;
  background-color: darkcyan;
  color:beige;
}
.Hangman-image{
  margin-top: 3em;
}
.dash{
  margin-bottom: 8em;
  font-size: 2.8em;
}
.Hangman-image img{
  border: 2px solid black;
  border-radius: 4px;
}
.result{
  margin-left: 0.2em;
  font-size: 2em;
  font-weight: bold;
  color:Maroon;
}
